body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #FFC50B;
}

h2 {
  font-size: 21px;
}

button {
  outline: none;
}

/*BURGER*/
#burger {
  width: 40px;
  height: 30px;
  display: none;
  position: absolute;
  right: 50px;
  top: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

#burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFC50B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0px;
}

#burger span:nth-child(2) {
  top: 12px;
}

#burger span:nth-child(3) {
  top: 24px;
}

#burger.open span:nth-child(1) {
  position: absolute;
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#burger.open span:nth-child(3) {
  position: absolute;
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.burger-menu {
  border: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 50px 20px;
  background: #1D1C21;
  width: 100%;
  height: 670px;
}

header {
  position: relative;
  background-image: url(../images/header/test-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  text-align: center;
}
header .header-content {
  max-width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  margin-top: 469px;
  z-index: 2;
}

.h1-bg {
  position: absolute;
  z-index: 1;
  top: 475px;
  width: 676px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header-info {
  position: relative;
}
.header-info img:nth-child(1) {
  width: 440px;
  position: relative;
  left: 215px;
  top: 0px;
}
.header-info img:nth-child(2) {
  width: 340px;
  position: relative;
  top: -120px;
  left: -179px;
}
.header-info .header-info-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: -260px;
}
.header-info span {
  color: #ffa002;
  font-size: 21px;
  margin: 10px 0 10px 85px;
}

nav {
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .logo-bg {
  position: absolute;
  width: 80%;
  left: 0;
  opacity: 0.7;
  top: 0;
  z-index: 3;
}
nav .nav-bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
nav .nav-content {
  width: 80%;
  display: flex;
  margin: 40px auto;
  flex-direction: row;
  justify-content: space-between;
}
nav .logo {
  width: 150px;
  z-index: 3;
}
nav .menu {
  z-index: 3;
  width: 56%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a {
  font-size: 16px;
  color: white;
}

.menu-mobile {
  border: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: #1D1C21;
  width: 100%;
  height: 800px;
}
.menu-mobile a {
  margin: 50px auto;
  font-size: 19px;
  color: #ffffff;
}
.menu-mobile a:nth-child(1) {
  margin-top: 140px;
}

.about-us, .about-course-main-info, .join-us {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: 220px auto 0;
}

.about-us-column, .about-course-main-info-column, .join-us-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line-over-text img:nth-child(1) {
  width: 10px;
  position: relative;
  top: 4px;
  right: -6px;
}
.line-over-text img:nth-child(2) {
  width: 460px;
}

.about-us-heading {
  width: 195px;
}

.media-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 390px;
  position: absolute;
  left: 55%;
  top: 1570px;
}
.media-icons img {
  width: 40px;
}
.media-icons img:nth-child(3) {
  width: 20px;
}

.squares {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  margin-left: 35px;
  height: 225px;
  width: 20px;
}
.squares img {
  width: 12px;
}
.squares img:nth-child(1) {
  width: 16px;
}

.about-us-info-shine {
  max-width: 789px;
  position: absolute;
  z-index: -1;
  top: 1395px;
  left: 57%;
}

.about-us-info-block {
  margin-top: 130px;
  width: 548px;
  height: 493px;
  background-image: url("../images/about-us/text-bg-01.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  color: white;
}
.about-us-info-block .about-us-info-block-text {
  max-width: 365px;
  padding: 80px 0 0 80px;
}
.about-us-info-block h2 {
  margin-bottom: 40px;
}
.about-us-info-block p {
  margin: 0 0 10px;
  line-height: 32px;
}

.relevance {
  max-width: 1400px;
  margin: 250px auto 0;
}

.relevance-heading {
  max-width: 460px;
  margin: 100px 0 115px 67%;
}

.relevance-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.relevance-info-card {
  width: 260px;
  margin-bottom: 20px;
}
.relevance-info-card h2 {
  text-align: center;
}
.relevance-info-card p {
  margin-top: 30px;
  margin-left: 2px;
  line-height: 23px;
  letter-spacing: 1px;
}

.relevance-card-line img:nth-child(1) {
  width: 10px;
  position: relative;
  top: 21px;
}
.relevance-card-line img:nth-child(2) {
  width: 100%;
}

.about-course-main-info {
  max-width: 1430px;
}

.make-your-game-banner {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 50px;
}
.make-your-game-banner .vertical-line {
  width: 4px;
  height: 115px;
  background-color: #ffa002;
}
.make-your-game-banner .make-your-banner-text {
  width: 280px;
  height: 122px;
  padding-left: 60px;
  color: #ffa002;
  border: #ffa002 4px solid;
  border-radius: 25px;
  font-size: 25px;
  line-height: 40px;
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.about-course-main-info-column h2 {
  color: #ffa002;
  margin-bottom: 30px;
}
.about-course-main-info-column p {
  margin: 10px 0 0 0;
  letter-spacing: 2px;
  line-height: 25px;
}

.about-course-heading {
  width: 270px;
}

.about-course-text {
  max-width: 540px;
  margin: 50px auto;
}

.about-course-icons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
}
.about-course-icons .about-course-icons-card {
  width: 135px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 29px;
}

.portfolio-heading {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 250px auto 190px;
}

.portfolio-heading-text {
  max-width: 380px;
}

.portfolio-info {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-example {
  width: 662px;
  height: 477px;
  border: 3px solid #9543ff;
  border-radius: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.game-example-column {
  width: 45%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-example-column .endless-runner-logo {
  margin-bottom: 30px;
}

.game-example-column-second {
  justify-content: space-around;
}

.icon-shadow-game {
  position: absolute;
  z-index: -1;
  width: 365px;
  top: 125px;
}

.os-icons {
  display: flex;
  width: 206px;
  justify-content: flex-end;
}
.os-icons .android {
  width: 35px;
}
.os-icons .apple {
  width: 35px;
  margin-right: 40px;
}

.game-buttons .about-game-btn {
  margin-top: 20px;
  display: block;
  width: 202px;
  height: 61px;
  border: #9543ff 2px solid;
  border-radius: 23px;
  color: #9543ff;
  line-height: 61px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 21px;
}

@media (max-width: 1440px) {
  .about-us {
    margin: 190px 15px 0;
  }

  .about-us-info-shine {
    display: none;
  }

  .about-course-main-info-column .line-over-text, .about-course-main-info-column .about-course-heading {
    margin: 0 auto;
  }
}
@media (max-width: 1420px) {
  .portfolio-heading {
    align-items: center;
  }

  .portfolio-info {
    width: 670px;
    flex-direction: column;
  }

  .portfolio-info-column {
    margin-bottom: 50px;
  }
}
@media (max-width: 1200px) {
  nav .menu {
    display: none;
  }
  nav .menu-mobile {
    flex-direction: column;
  }

  #burger {
    display: block;
  }

  .about-us-column:nth-child(1) {
    display: none;
  }

  .about-us-column {
    align-items: center;
    margin: 0 auto;
  }

  .media-icons {
    position: unset;
    flex-direction: row;
    justify-content: space-between;
    order: 3;
    margin-top: 40px;
    width: 390px;
    height: auto;
  }

  .about-us-heading {
    width: 195px;
    align-self: flex-end;
    margin: 0 60px 0 0;
  }

  .about-us {
    display: block;
  }

  .about-us-column:nth-child(1) {
    display: unset;
  }
  .about-us-column:nth-child(1) img {
    position: absolute;
    width: 800px;
    left: 0;
    right: 0;
    margin: 120px auto 0;
    z-index: -1;
  }

  .about-us-info-shine {
    display: unset;
    max-width: 750px;
    z-index: -1;
    top: 1400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .relevance-heading {
    max-width: 320px;
    margin: 0 auto 30px;
  }

  .relevance-info {
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  header {
    background-position-x: -655px;
  }
  header .h1-bg {
    display: none;
  }
  header h1 {
    background-image: url("/assets/images/header/h1-bg.svg");
  }
  header .header-info img:nth-child(1) {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
  header .header-info img:nth-child(2) {
    width: 300px;
    top: -120px;
    left: 0;
    transform: translateX(-50%);
  }
  header .header-info .header-info-text {
    top: -250px;
  }

  nav .logo {
    width: 100px;
  }
  nav .menu-mobile {
    flex-direction: column;
  }
  nav .logo-bg {
    width: 100%;
  }

  .about-us-column:nth-child(1) img {
    width: 100%;
    margin: 120px auto 0;
  }

  .line-over-text img:nth-child(1) {
    width: 10px;
    top: 23px;
    right: 0px;
  }

  .about-course-main-info {
    flex-direction: column-reverse;
  }
  .about-course-main-info .about-course-main-info-column {
    width: 100%;
  }
  .about-course-main-info .line-over-text img:nth-child(1) {
    width: 10px;
    right: -7px;
    top: 3px;
  }
  .about-course-main-info .big-unity {
    width: 100%;
  }

  .about-course-icons {
    width: 320px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 700px) {
  .portfolio-info {
    width: 100%;
  }

  .game-example {
    width: 80%;
    margin: 0 auto;
  }

  .game-example-column img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  header {
    height: 800px;
  }
  header .header-info img:nth-child(2) {
    width: 300px;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .header-info .header-info-text {
    top: -380px;
  }
  header .header-info span {
    margin: 10px 0 10px 35px;
  }
  header h1 {
    font-size: 34px;
    text-align: left;
    width: fit-content;
    margin: 295px auto 50px;
  }
  header .header-info-text {
    top: -380px;
  }

  .about-us {
    margin: 190px 5px 0;
  }

  .about-us-column {
    width: 100%;
  }

  .line-over-text img:nth-child(1) {
    width: 10px;
    top: 23px;
  }
  .line-over-text img:nth-child(2) {
    width: 100%;
  }

  .about-us-info-block {
    width: 100%;
    background-size: contain;
    height: 350px;
  }

  .about-us-info-shine {
    display: none;
  }

  .about-us-heading {
    width: 149px;
    margin: 0 70px 0 0;
  }

  .media-icons {
    width: 80%;
  }
  .media-icons img {
    width: 25px;
  }
  .media-icons img:nth-child(3) {
    width: 14px;
  }

  .about-us-info-block {
    width: 100%;
    height: fit-content;
    background-size: contain;
  }
  .about-us-info-block .about-us-info-block-text {
    padding: 0;
    width: 100%;
  }
  .about-us-info-block p {
    padding-left: 20px;
  }

  .about-us-info-block h2 {
    font-size: 21px;
    margin: 15px auto 10px;
    text-align: center;
  }

  .squares {
    margin-top: 57px;
    margin-left: 0px;
  }

  .relevance-info-card {
    margin: 0 auto 30px;
  }

  .about-course-text {
    width: 80%;
  }

  .about-course-main-info .line-over-text img:nth-child(1) {
    width: 10px;
    top: 23px;
    right: 0px;
  }

  .about-course-icons {
    width: 160px;
  }

  .make-your-game-banner {
    width: 70%;
  }
  .make-your-game-banner .make-your-banner-text {
    width: 180px;
    height: 90px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  .make-your-game-banner .vertical-line {
    height: 96px;
  }

  .game-example {
    height: 300px;
  }

  .game-buttons {
    width: 100%;
  }
  .game-buttons .about-game-btn {
    margin-top: 20px;
    display: block;
    width: 132px;
    height: 41px;
    border: #9543ff 1.5px solid;
    border-radius: 15px;
    line-height: 41px;
    font-size: 16px;
  }

  .icon-shadow-game {
    width: 70% !important;
    top: 92px;
  }

  .os-icons {
    width: 100px;
  }
  .os-icons .android {
    width: 25px;
  }
  .os-icons .apple {
    width: 25px;
    margin-right: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
